<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fightyz.openglbasicshape" >
    <application
        android:name="com.fightyz.comlib.BaseApplication"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".MainActivity"/>

        <activity android:name=".RendererActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
